/*Create By Lmx 2010-11-3*/
/*初始化*/
body,div,dl,dt,p,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td { 
padding:0; 
margin:0; 
 word-break:break-all;
 }
ul,li {list-style:none}
body , input{ 
      font-family:"Microsoft Yahei",arial;
	color:#444;
	line-height:1.6;
	font-size: 12px;
	background:#FFF;
}
table { 
 border-collapse: collapse; 
 border-spacing: 0; 
 }

fieldset,img { 
 border: 0; 
 } 
address,caption,cite,code,dfn,em,th,var { 
 font-weight: normal; 
 font-style: normal; 
 } 
ol,ul { 
 list-style: none; 
 } 
caption,th { 
 text-align: left; 
 } 
h1,h2,h3,h4,h5,h6 { 
 font-weight: normal; 
 font-size: 100%; 
 } 
q:before,q:after { 
 content:''; 
 } 
abbr,acronym { border: 0; 
 }
.yh{font-family:"Microsoft YaHei"!important;font-family:"微软雅黑";}
.ht{font-family:"黑体";}
/*初始化*/
/*通用布局*/
.clear{clear:both;}
.w160{width:160px;}
	table tr.bv td{ background:#f5fafd;}
	.dotted p, .dotted a{border-bottom:#dfdfdf dotted 1px;}
	.bod_ef{border:#efefef 1px solid;}
	.bod_cc{border:#ccc 1px solid;}
	.color_blue, .color_blue a{color:#6f63e5;}
	.color_red, .color_red a{color:#df1637;}
	.bold{font-weight:bold;}
	.btn_blue{background:#4db1f0; color:#fff;}
		.btn_blue:hover{ background:#8acdf7;}
.hack,.hack5,.hack10,.hack15,.hack20,.hack25,.hack7 {height:0px;line-height:0px;font-size:0px;clear:both;}
.hack5 {height:5px;}
.hack7 {height:7px;}
.hack10 {height:10px;}
.hack15 {height:15px;}
.hack20 {height:15px;}
.hack25 {height:25px;}
.l {float:left}
.r {float:right;clear:right}
.bor {border:1px solid #E7E9E8}
.more {float:right;margin-right:5px;}
.alignm {vertical-align:middle}
.clearfix{*zoom:1;}.clearfix:after{content:'\20';display:block;height:0;clear:both;}
.ptre{position:relative;}
.ptab{position:absolute}
/*通用布局*/
/*通用字体*/
.b {font-weight:bold}
.f14 {font-size:14px}
.f15 {font-size:15px}
.f16 {font-size:16px}
.f18 {font-size:18px}
.f20 {font-size:20px}
.f30 {font-size:30px}
.f13 {font-size:13px}
.f12 {font-size:12px}
/*通用字体*/
/*通用颜色*/
a {color:#666;text-decoration:none}
a:hover {color:#0c80e8}
.unline{text-decoration:underline}
.red,.red a {color:red}
.blue,.blue a{color:#4db1f0}
.blue1{color:#4C82C2}
.org,.org a {color:#f60}
.ored{color:#E20500}
.gray,.gray a {color:#aaa}
.green,.green a{color:green}
.hui,.hui a {color:#999999}
.hui a:hover{ color:#8B8B8B;}
.huit{ color:#ADADAD;}
.white,.white a{color:#fff}
.yel,.yel a{color:#FFF000;}
.black{color:#000}
.c00{color:#B92235}
.c3{color:#333}
.c6,.c6 a {color:#666}
.bg0{background-color:#fff}
/*通用颜色*/
/*通用调用CSS*/
.disno{display:none}
.pr5{padding-right:5px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:12px}
.plt10{padding-left:10px; padding-top:5px;}
.pt5{padding-top:5px}
.pt8{padding-top:8px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pb5{padding-bottom:5px}
.pd5{padding:5px}
.pd10{padding:10px}
.pd20{padding:20px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mt10{margin-top:10px}
.ml10{margin-left:10px}
.mb20{margin-bottom: 20px;}
.txtr{text-align:right}
.txtc{text-align:center}
.txtl{text-align:left}
.nobbor{border-bottom:none}
.nobor{border:none}
.co1,.co1 a{color:#F60}
.co2{color:#007787}
.f1{font-family:Tahoma,Arial, Helvetica, sans-serif;}
.pointer{cursor: pointer;}
/*通用调用CSS*/
/*顶部CSS*/
.topwap{ height:110px; background:#0c80e8;}
.topwap a{ color:#FFF;}
.topcontent{ width:1100px; margin:0 auto;height:67px;}
	.topcontent a:hover{color:#FF0;}
.topcontentleft{ width:600px;height:67px; background:url(../images/logo.png) 10px 0px no-repeat; float:left;}
.topcontentmdiilenav{ height:51px; width:85px; background:url(../images/navbg.png) ;margin-top:16px; text-align:center; color:#333333;}
.topcontentmdiilenavh{ height:51px; width:85px; margin-top:16px; text-align:center; color:#FFF;}
.topcontentmdiilenavbg{ background:url(../images/zytb.png) no-repeat center 8px; height:32px;}
.topcontentmdiilenavbgg{ background:url(../images/gntbw.png) no-repeat center 10px; height:30px;}
.topcontentright{width:77px; height:28px;border-radius:15px; line-height:28px; text-align:center; color:#FFF; margin-top:20px; background:url(../images/quit.png) no-repeat 15px 5px; text-indent:2.5em;}
.topcontentrightr{width:77px; height:28px;border-radius:15px; line-height:28px; text-align:center; color:#FFF; margin-top:20px;}
.topcontentrightb{background:url(../images/messagebg.png) no-repeat 0 2px; width:27px; height:28px; color:#0C80E8; line-height:23px; padding-top:2px;} 
.wid_60{ width:50px; text-align:left; text-indent:0.5em;}

.navlist{ height:42px; line-height:42px; background:#1e8cee;width:1100px; color:#FFF;margin:0 auto;}
.navlist li{ padding:0 25px; float:left; font-size: 15px;}
.navlist a:hover{ color:#FF0;}
.navlist a.act{ color:#FF0;}
/*中间CSS*/
.middlewap{clear:both;margin: 0px auto;width:100%;overflow: auto;height: 100%;}
.middletopt{display:inline-block;box-shadow: 0px 0px 8px #CDCDCD; background:#FFF;  height: 100%;width: 30%;position:relative;border-radius: 10px;}
.middletopttx{ text-align:center;border-bottom:1px solid #eeeeee; height:50%;background:url(../images/xs_bg.jpg) center no-repeat;position:relative;width: 100%;}
.middletopttxl{
	position: relative;
	height: 50%;
}
.middletopttxlr{text-align:center;height: 100%;width: 100%;}
.middletopttxlm{float:left; margin-left:60px;}
.middletopttxlmb{ border-left:1px solid #eeeeee;height:56px; width:105px; float:left; line-height:30px; padding:10px 20px;}
.middletopttxlmb span{  display:block; }
.middletopttxlmb .f14{ color:#999999;}
	.middletopttxlmb:hover .f14{ color:#4db1f0;}
	.middletopttxlmb:hover .f30{ font-size: 31px;}
.middletopttxlmr{ text-align:center; margin-top:15px;margin-right: 20px;}
.middletopttxlmrp{ height:30px;padding:0 4px; line-height:30px; border-radius:10px; background:#ff7700; color:#FFF;}
.middletopttxlmrp span{ padding:0 4px;}
.middletop{display:inline-block; height:100%;clear:both; background:#FFF; box-shadow:0 0 8px #CDCDCD;width:70%;border-radius: 10px;}
.middletoptitle{ color: #33A1E6; font-size:16px;}
.middletopleftrqbox{ color:#b1d2ec; line-height:24px;margin-bottom: 8px;}
.middletopleftrq{height:14px;line-height:14px; padding:0 5px; position:relative; float:left;}
.middletopleftbox{}
.middletopleftrq img{
	position: absolute;
	left: 98px;
	top: 4px;
	display: block;
	float: right;
}
.middlewapleftdown{height: 47.2%;width: 100%;}
.middletopleft{height: 92%;}
.middletopleftkb{ height:100%; background:#FFF; padding:12px;border-radius: 10px;}
.middletopleftl{}
.middletopleftr{ width:361px; height:275px; line-height:22px;}
.middletopleftrarrow{ background:url(../images/arrow.png) no-repeat center 140px; width:6px;height:275px;}
.middletopleftrbox{background:#eeeff4; width:339px; height:240px; border-radius:15px; padding:12px 8px;}
.bookinfotitle{ line-height:30px; height:30px; background:url(../images/booktb.png) no-repeat 2px 6px; text-indent:2.2em; padding-bottom:20px;}
.bookinfol{ width:86px;}
.bookinfoltp{ border-radius:50%; border:3px solid #1E8CEE; width:80px; height:80px; text-align:center; font-size:28px; line-height:80px;}
.bookinfor{ width:215px;}
.bookinfor p{ line-height:28px;}
	.middletopleftrbar{border-radius:15px; background:#98d4f9; height:11px;margin: 20px 0 10px 0;}
	.middletopleftrbarl{ border-radius:15px 0 0 15px; background:#fc891c; height:11px;}
.middletopmd{ height:145px; margin-top:10px; }
.middletopmdw{ width:374px; height:44px;background:#FFF; line-height:44px;}
.middletopmdl{ width:42px; height:44px; position:relative; border-right:2px solid #EEEFF4; margin-right:10px;}
.middletopmdlimg{ position:absolute;left:6px; top:6px;}
.middletopmdlco{ width:24px; height:24px; line-height:24px; border-radius:50%; background:#FC891C;color:#FFF; position:relative; left:10px; top:10px; text-align:center;}
.middletopright{ width:470px;}
.middletoprightbox{background:#FFF;padding:12px; height:126px;} 
.middletoprightw{ width:470px; height:109px;background:#FFF;position:relative;}
.middletoprightw2{ width:470px; height:80px;background:#FFF;position:relative;}
.middletoprightwl{ width:86px;height:89px; border-right:2px solid #EEEFF4}
.middletoprightwl2{ width:86px;height:77px; border-right:2px solid #EEEFF4}
.middletoprightwimg{ position:absolute;left:6px; top:6px;}
.middletoprightli{ line-height:23px; width:320px;}
.middletoprightco{ width:24px; height:24px; line-height:24px; border-radius:50%; background:#FC891C;color:#FFF; position:relative; right:25px; top:40px; text-align:center;}
.middletoprightco2{ width:24px; height:24px; line-height:24px; border-radius:50%; background:#FC891C;color:#FFF; position:relative; right:25px; top:28px; text-align:center;}
.middlebt{ height:138px; background:#F5FAFD;}
.middlebttitle{ height:30px;}
.middlebtnav{ width:181px; color:#FFF; line-height:29px; height:30px;}
.middlebtnavl{ height:29px; border-radius:12px 0 0 12px;background:#FC891C; width:110px; border-right:1px solid #FFF;text-align:center;}
.middlebtnavr{ height:29px; border-radius:0 12px 12px 0 ;background:url(../images/tx.png) no-repeat 9px 7px #FC891C; width:70px; text-align:center;}
.middlebtnavb{ height:7px;width:182px; background:url(../images/arroworg.png) no-repeat center;}
.middlebtnavlh{ height:29px; border-radius:12px 0 0 12px;background:#B1B1B1; width:110px; border-right:1px solid #FFF;text-align:center;}
.middlebtnavrh{ height:29px; border-radius:0 12px 12px 0 ;background:url(../images/tx.png) no-repeat 9px 7px #B1B1B1; width:70px; text-align:center;}
.middlebtnavcon{border:1px solid #FC891C; height:65px;}
.middlebtnavconan{ padding:0px 15px; height:31px; border-radius:18px; border:2px solid #33A1E6; color:#33A1E6; line-height:31px; text-align:center; position:relative; background:#FFF;}
.middlebtnavconan img{ position:absolute;top:7px; left:10px;}

.allline{ height:145px; background:#FFF; position:relative; color:#FFF;box-shadow: 0px 0px 8px #CDCDCD; }
.timeline{margin:60px 0;line-height:15px;  border-radius:15px; background:#33A1E6; height:15px;  top:50px; left:449px;}
	.timelinel{line-height:15px;  border-radius:15px 0 0 15px; background:#fc891c; height:15px;  top:50px; left:10px;}
	.timeline > span{position: absolute;}
.eventdot{position: relative;margin-top: -114px;}
	/* .eventdot > div {position: absolute;left:0;} */


.timelinecon{ border-radius:15px; background:#D4D4D4; padding:0 10px; height:21px; line-height:21px;}
.timelineconp{ border-radius:15px; background:#AB86BA; padding:0 10px; height:21px; line-height:21px;}
.timelineconpr{ border-radius:15px; background:#FF4B4B; padding:0 10px; height:21px; line-height:21px;}
.timelineconb{ background:url(../images/arrowh.png) no-repeat 9px 0; height:6px; width:20px;}
.timelineconbb{ background:url(../images/arrowhb.png) no-repeat 9px 1px; height:6px; width:20px;}
.timelineconbbr{ background:url(../images/arrowpbr.png) no-repeat 9px 1px; height:6px; width:20px;}
.timelineconbp{ background:url(../images/arrowp.png) no-repeat 9px 0; height:6px; width:20px;}
.timelineconbpb{ background:url(../images/arrowpb.png) no-repeat 9px 1px; height:6px; width:20px;}

.datalist{border-collapse:collapse;table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */ text-align:center;  
    border:1px solid #F1F1F1;   /* 表格边框 */   
    border-collapse:collapse;   /* 边框重叠 */  
    background-color:#FFFFFF;   /* 表格背景色 */  
    font-size:13px;  
} 
.datalist a{text-decoration:underline;} 
.datalist caption{  
    padding-bottom:5px;  
    font:bold 1.4em;  
    text-align:center; 
}  
.datalist th{word-break:keep-all;/* 不换行 */    white-space:nowrap;/* 不换行 */    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起*/  
    border:1px solid #F1F1F1;   /* 行名称边框 */  
    background-color:#FFF;   /* 行名称背景色 */  
    color:#33A1E6;           /* 行名称颜色 */  
    font-weight:bold;  
    padding-top:7px; padding-bottom:7px;  
    padding-left:12px; padding-right:12px;  
    text-align:center;  
}  
.datalist td{word-break:keep-all;/* 不换行 */    white-space:nowrap;/* 不换行 */    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/  
    border:1px solid #FFF;   /* 单元格边框 */  
    text-align:center;  
    padding-top:5px; padding-bottom:5px;  
    padding-left:10px; padding-right:10px;  
}  
.datalist tr.altrow{  
    background-color:#F5FAFD;   /* 隔行变色 */  
}  
  

/*课表*/.timetable{}
			.timetable table thead td{color:#888;}
			.timetable table td{ border:#f1f1f1 solid 1px; }
				.timetable table tr:hover{ background:#BDE0FF; cursor:pointer;}
/*课表*/
				.timetable table td.act{ background:#FC891C; cursor:pointer; color:#FFF;}
/*课表*/
			.timetable table{ border-collapse:collapse; width:100%;}
				.timetable table td{ padding:3px; height:25px; text-align:center;}
		.laydate-icon{width: 100px;padding: 0 3px;	}


/*管理端*/
.mg_middleleft{ width:84px; margin-right:9px;}
.mg_middleleftbox{ width:86px;height:80px;}
.mg_middlemid{ width:802px; padding:10px; background:#FFF;}
.bgwt{ background:#FFF;}
.mb5{ margin-bottom:10px;}
.mg_middleleft{ width:86px;height:89px; border-right:2px solid #EEEFF4}
.mg_middletop{clear:both; height:590px;}
.mg_middletpd{ padding:20px 30px; display: inline-block;}
	.mg_middletpd span{display: block;}
	.mg_middletpd > img{width: 44px;height: 44px;margin-top:5px;}
	a.mg_middletpd:hover {color: #333;}
	/* .mg_middletpd:hover > img{margin-top:0;} */
.mg_blue,.mg_blue a{ color:#98d4f9;}
.mg_blue a:hover{color:#0c80e8;}
.mg_middlemidct{ height:252px; background:#FFF; border:1px solid #f0f0f0;}
.mg_middlebtnavl{ height:30px; line-height:30px;background:#FFF; width:90px;text-align:center;color:#33a1e6;}
.mg_middlebtnavr{ height:30px; line-height:30px; width:110px;text-align:center; color:#acacac;}
.mg_middlebtnavr a{color:#acacac;}
.mg_middlebttitle{ height:30px; background:#f0f0f0; border:1px solid #f0f0f0; border-bottom:none; font-size:15px;}
.mg_middleli li{ line-height:28px; border-bottom:1px dashed #dfdfdf;}
.mg_middletopmdl{ width:42px; height:44px; position:relative; border-right:2px solid #FFF; margin-right:10px; background:#f0f0f0;}
.mg_middleli ol{line-height:28px;}
.mg_middletopmdw{ width:396px; height:44px;background:#f0f0f0; line-height:44px;}
.mg_middleright{ width:291px;height:566px; background:#FFF;padding:12px;}
.mg_middlerightbox{ height:48px; margin:28px 0; color:#666666;}
.mg_middlerightboxr{ width:235px;}
.mg_middlerightboxt{ height:24px; line-height:22px;}
.mg_middlerightboxb{border-radius:15px; background:#98d4f9;width:235px; height:24px; line-height:24px; color:#FFF;}

.l_eve{position:absolute;cursor:pointer;}
.l_eve:hover{z-index:999999;}
.l_eve:hover .timelineconbb{background: url(../images/arrowpbr.png) no-repeat 9px 1px;}
.l_eve:hover .timelineconb{background: url(../images/arrowpr.png) no-repeat 9px 0px;}
.l_eve:hover .timelinecon{background: #FF4B4B;}
.evebar_bottom{margin-top:25px;}

/* 侧边栏 */
.event_right > p{ position: fixed;top: 140px;right: 30px;  }
	.event_right > p > a, .event_right > p > u{ display: none; float: right;clear: both; padding: 5px 8px; width: 28px; height: 32px;line-height: 1.3; color: #fff;background: #8c8c8c; margin-top: 5px;border-radius: 2px 0 0 2px; }
	.event_right > p > u.s_more{background:#fe9438 url(../images/s_more.png) no-repeat center center; margin-right: auto;display: block;}
		.event_right > p > u.s_more:hover{background:#f50 url(../images/s_more.png) no-repeat center center;}
	.event_right > p > a.near{background:#fe9438;display: block;}
	.event_right > p > a:hover, .event_right > p > u.s_more:hover{background-color: #f50; }
		.event_right > p > a > i{display: none;}
		.event_right > p > a:hover > i{display: block;background:url(../images/s_arr.png) no-repeat; display: inline-block;width: 5px; height: 11px; position: absolute;margin: 10px 0 0 -13px; }
		.event_right > p > span{position: fixed;display: block; display: none; color: #333; width: 260px; border:#f50 solid 1px; background: #ffe0c6; line-height: 2.2;padding:3px 6px;right: 52px;border-radius: 2px;margin-top: 0;}
		.event_right > p > span b{font-weight: normal; background: #ffac64; padding: 2px 5px; margin-right: 3px; color: #fff;}
		
.abq{color:#3399CC; text-decoration:none;font-weight:bold;}
.circle{
	width:100px;
	height:100px;
	border-radius:100px;
	margin-top: 65px;
    display: inline-block;
}
.middletopgrxx{margin: 15px 0;}
.middletopdwxxtit{width:30%;text-align:right;display:inline-block;}
.middletopdwxxcont{width:70%;text-align:left;display:inline-block;}
.form-control{
	border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #555;
    height: 20px;
    padding: 4px 8px;
    position: relative;
    font-size: 8px;
    width:175px;
    background: #fff;
}
.middletopleftzc,.middletopleftdqrq{display:inline-block;position: relative;}
.middlewapleftpart{width:75%;height:100%;display: inline-block;}
.middlewaprightpart{
	width:24.8%;
	height: 100%;
	display:inline-block;
   /*** margin: 15px 5px;*/
}
.middlewapleftup{
	width:100%;
	height: 52%;
}
.middlewapmyexam,.middlewapmynotice{
	width:50%;
	display:inline-block;
	height:100%;
	margin: 2px 0px;
	border: 1px solid #ddd;
	border-radius:10px;
}
.middlewapmynotice{
	/**margin-left: 1.6%;*/
}
.examtitle,.noticetitle{
    padding: 5px 8px;
    color: #33A1E6;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    height:8%;
}
.examlist,.noticelist{
	overflow: auto;
    height: 90%;
}
.examlist li,.noticelist li{
     padding: 5px 8px;
    /**border: 1px solid #ddd;*/
    /** margin: 5px 8px;*/
    border-radius: 8px;
}
.kcxx{
	color:#716b6b;
}
.kcmc{
	color:#333333;
}
.usuafuntitle{
    color: #33A1E6;
    font-size: 16px;
    margin: 10px 0;
    padding-left: 35px;
}
.usuafunmenu{
	width:100%;
	height: 92%;
}
.usuafunmenulist{
	width:20%;
	background-color:#fff;
	height:100px;
	display:inline-block;
}
.item-red {
    border-left: 2px solid #d53f40 !important;
}
.item-orange {
    border-left: 2px solid #f8ac59 !important;
}
.list-group li{
	border-radius:4px 0 0 4px;
	line-height:25px;
}
.list-group li a{
    color: #333;
}
.list-group li a:hover{
    color: #33A1E6;
    text-decoration: underline;
}
.middlewaprightup,.middlewaprightdown{
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom:2px;
}
.input-group-addon{
	width:20px;
}
#rq{
    width: 100px;
    background-color: #fff;
}
#sizing-addon1{
	position: absolute;
    right: -28px;
    top: 0;
    padding: 7px;
    padding-right: 20px;
}
.pull-right{
	float:right;
}
.zp{
 	background-size: 100%;
    background-repeat: no-repeat;
}
.defzp{
    background-size: 146px 100px;
    background-repeat: no-repeat;
    background-position-x: -20px;
}  

/** 教学活动安排样式 开始*/

.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 
  
/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #F5F5F5;
    left: 16%;
    margin-left: -10px;
}
  
.cbp_tmtimeline > li {
    position: relative;
}
  
/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}
  
.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}
  
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
}
  
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #F5F5F5;
}
  
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #F5F5F5;
}
  
/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 23%;
    background: #F5F5F5;
    color: #333;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
}
  
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #F5F5F5;
}
  
.cbp_tmtimeline > li .cbp_tmlabel h6 p { 
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
  
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #F5F5F5;
    border-width: 10px;
    top: 10px;
}
  
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #F5F5F5;
}
  
/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 45px;
    height: 45px;
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 12px;
    line-height: 45px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #1AB394;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #afdcf8;
    text-align: center;
    left: 11%;
    top: 0;
    margin: 0 0 0 -15px;
}
/** 教学活动安排样式 结束*/

.hot{
	width: 20px;
	height: 20px;
	position: absolute;
	visibility: inherit;
	left: 0px;
	top:0px;
	cursor: pointer;
}